h1{
    background-color: #00ff00
}


span.specific {
    color: #ff0000;

}

.First-one {
    background-color: rgb(212, 212, 161)
   
}

h3 {
    background-color: #500

}

/* Selektor klassy */
.First-paragraf {
color: blue;

}

p {
    color: yellow;

}


