h1{
    background-color: #00ff00
}


.first-one{
    color: #ff0000;

}

.first-one {
    background-color: rgb(212, 212, 161)
   
}

h3 {
    background-color: #500

}

/* Selektor klassy */
.first-paragraf {
color: blue;

}

p {
    color: yellow;

}


